<%- include('components/head') %>
<%- include('components/nav') %>
<div class="card justify-content-center w-25 m-auto ">
    <!-- adding a station -->
    <h3>Voeg een plaats toe</h3>
<form action="/place/store" method="POST" role="form">
    <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" placeholder="Plaats" required><br>
    </div>
    <input class="btn btn-primary" type="submit" name="submit">
</form>
</div>
    <div class="card justify-content-center w-25 m-auto ">
        <% places.forEach(function(place) { %>
        <div class="card-header"><%= place.name %></div>
            <% }); %>
    </div>
<%- include('components/foot') %>