<%- include('../components/head') %>
<%- include('../components/nav') %>

<button class="btn btn-primary"><a href="/thing/create" style="text-color: 3%">Create</a></button>
<% things.forEach(function(comment) { %>
    <div class="card justify-content-center w-25 m-auto ">
        <div class="card-body">
           <!-- not made yet-->
        </div>
    </div>
<% }); %>
<%- include('../components/foot') %>