<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include('./components/head') %>
<%- include('./components/nav') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center"><h3>Welcome, register please to use this website</h3></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center">
            Already have an account? Login here:
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">
                        <h10>E-mail:</h10>
                    </label>
                    <input name="email" type="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">
                        <h10>Password</h10>
                    </label>
                    <input name="password" type="password" id="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-sm-4 text-center">
            Register here:
            <form action="/add" method="post">
                <div class="form-group">
                    <label for="name">
                        <h10>Name:</h10>
                    </label>
                    <input name="name" type="text" id="name" required>
                </div>
                <div class="form-group">
                    <label for="email">
                        <h10>E-mail:</h10>
                    </label>
                    <input name="email" type="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="email">
                        <h10>Password:</h10>
                    </label>
                    <input name="password" type="password" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <th>name</th>-->
<!--        <th>email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <% users.forEach(user => { %>-->
<!--        <tr>-->
<!--            <td><%= user.id %></td>-->
<!--            <td><%= user.name %></td>-->
<!--            <td><%= user.email %></td>-->
<!--        </tr>-->
<!--    <% }); %>-->
<!--    </tbody>-->
<!--</table>-->
<!--<div>-->
<!--    <form method="post">-->
<!--        Name-->
<!--        <input name="name" />-->
<!--        Email-->
<!--        <input name="email" />-->
<!--        Password-->
<!--        <input name="password" />-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</div>-->
<%- include('./components/foot') %>
</body>
</html>

