<%- include('../components/head') %>
<%- include('../components/nav') %>
<div style="margin: 3%">
    <button class="btn btn-primary"><a href="/person/register" style="color: white">Verloren spullen aangeven</a></button>
</div>
<%- include('../components/foot') %>