<%- include('../components/head') %>
<%- include('../components/nav') %>
<div class="card justify-content-center w-25 m-auto ">
    <div class="card-header">Wat bent u verloren?</div>
    <div class="card-body">
        <div class="col-md-12 login-form-1"  style="margin: 3%">
            <form action="/person/<%=person.id%>/thing" method="POST" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="title" placeholder="Naam" required><br>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" id="description" placeholder="Beschrijving" required><br>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" id="date" placeholder="Datum" required><br>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="volgende" />
                </div>
            </form>
        </div>
    </div>
</div>
