<%- include('../components/head') %>
<%- include('../components/nav') %>

<div class="col-md-8 login-form-1"  style="margin: 3%">
    <h3 style="margin-bottom: 5%">Login for Form 1</h3>
    <form action="/person/register" method="POST" role="form">
        <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required><br>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required><br>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="volgende" />
        </div>
    </form>
</div>

<%- include('../components/foot') %>