<%- include('../components/head') %>
<%- include('../components/nav') %>
<div class="col-md-12 login-form-1"  style="margin: 3%">
<form action="/thing/update/<%= thing.id %>" method="POST" role="form">
    <div class="form-group">
    <input type="text" class="form-control" name="name" id="title" value="<%= thing.name %>" required><br>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" name="description" id="description" value="<%= thing.description %>" required><br>
    </div>

    <div class="form-group">
    <input type="date" class="form-control" name="date" id="date" value="<%= thing.date %>" required><br>
    </div>

    <input type="submit" name="submit">
</form>
</div>
<%- include('../components/foot') %>