<%- include('../components/head') %>
<%- include('../components/nav') %>

<button class="btn btn-primary" style="margin: 3%"><a href="/thing/create" style="color: white">Create</a></button>
<% things.forEach(function(thing) { %>
    <div class="card justify-content-center w-25 m-auto ">
        <div class="card-header"><%= thing.name %></div>
        <div class="card-body">
            <p>
                <%= thing.description %><br>
<!--                <a href="/thing/<%= thing.id%>/speakers">My thing!</a><br>-->
                <a href="/thing/edit/<%= thing.id%>">Edit</a><br>
                <a href="/thing/show/<%= thing.id%>">Show</a><br>
            </p>
        </div>
    </div>
<% }); %>
<%- include('../components/foot') %>