<%- include('../components/head') %>
<%- include('../components/nav') %>
<div class="card justify-content-center w-25 m-auto ">
    <div class="card-header"><%= thing.name %></div>
    <div class="card-body">
        <p>
            <%= thing.description %>
            <a href="/thing/edit/<%= thing.id%>">Edit</a>
        <form action="/thing/destroy/<%=thing.id%>" method="POST">
            <input type="submit" name="submit"value="Delete">
        </form>
        </p>
    </div>
</div>