<%- include('../components/head') %>
<%- include('../components/nav') %>
<div class="col-md-8 login-form-1"  style="margin: 3%">
    <h3>Verloren voorwerpen</h3>
<form action="/thing/store" method="POST" role="form">
    <div class="form-group">
    <input type="text" class="form-control" name="name" id="title" placeholder="Naam" required><br>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" name="description" id="description" placeholder="Beschrijving" required><br>
    </div>

    <div class="form-group">
    <input type="date" class="form-control" name="date" id="date" placeholder="Datum" required><br>
    </div>

<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlSelect1">Example select</label>-->
<!--        <select class="form-control" id="exampleFormControlSelect1">-->
<!--            <option>1</option>-->
<!--            <option>2</option>-->
<!--            <option>3</option>-->
<!--            <option>4</option>-->
<!--            <option>5</option>-->
<!--        </select>-->
<!--    </div>-->

    <input class="btn btn-primary" type="submit" name="submit">
</form>
</div>
<%- include('../components/foot') %>